.imgage{
     height:400px;
     width: 400px;
}

/* .container-fluid{
    height:700px;
} */

.im{
    height: 40px;
    width: 40px;
    margin-left: 15px;
    margin-top: 10px;
}

.wor{
    height: 40px;
    width: 40px;
    margin-left: 15px;
    margin-top: 10px;
}

.pro{
    height: 40px;
    width: 40px;
    margin-left: 15px;
    margin-top: 10px;
}

.edu{
    height: 40px;
    width: 40px;
    margin-left: 15px;
    margin-top: 10px;
}